<table>
  <thead>
    <tr>
      <th>Process ID</th>
      <th>Device ID</th>
      <th>IP Address</th>
      <th>Tag Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let process of testCenters[0]?.processes">
      <td rowspan="{{process.devices.reduce((count, device) => count + device.registers.length, 0)}}">{{ process.id }}</td>
      <ng-container *ngFor="let device of process.devices">
        <ng-container *ngFor="let register of device.registers; let first = first">
          <tr>
            <td *ngIf="first" rowspan="{{device.registers.length}}">{{ device.id }}</td>
            <td *ngIf="first" rowspan="{{device.registers.length}}">{{ device.ipAddress }}</td>
            <td>{{ register.tagName }}</td>
            <td>{{ register.value }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>
